---
# Data Wrangling II

- Concatenación
- Merge

In [ ]:
import pandas as pd

### Concatenación de dataframes

In [ ]:
df = pd.read_csv('Valor-UF-SII.csv')
df.head()

In [ ]:
# Lectura con separador, sin header y asignación de nombres de columnas
df = pd.read_csv('Valor-UF-SII.csv', sep=';', header=None,
            names=['dia.1', 'valor.1', 'dia.2', 'valor.2', 'dia.3', 'valor.3'])
df.head()

In [ ]:
# creación de 3 nuevos dataframes
# seleccionando las respecticas columnas
df1 = df.iloc[:,:2].copy()
df2 = df.iloc[:,2:4].copy()
df3 = df.iloc[:,4:].copy()

In [ ]:
df1.head(2)

In [ ]:
df2.head(2)

   dia.2    valor.2
0   11.0  28.636,35
1   12.0  28.639,21

In [ ]:
df3.head(2)

In [ ]:
#renombramiento de columnas
df1.rename(columns={'dia.1':'Dia', 'valor.1':'Valor'}, inplace=True)
df2.rename(columns={'dia.2':'Dia', 'valor.2':'Valor'}, inplace=True)
df3.rename(columns={'dia.3':'Dia', 'valor.3':'Valor'}, inplace=True)

In [ ]:
df1.head(2)

In [ ]:
# Concatenación de los 3 dataframes anteriores
dft = pd.concat([df1,df2,df3])
dft

In [ ]:
# eliminamos valores nulos
dft.dropna(inplace=True)

# reseteamos el indice
dft.reset_index(inplace=True, drop=True)

In [ ]:
dft

### Merge de dataframes

In [ ]:
df1 = pd.read_excel('riesgo-segmento.xlsx', sheet_name='Clientes')
df1

In [ ]:
df2 = pd.read_excel('riesgo-segmento.xlsx',
                                  sheet_name='Comunas')
df2

In [ ]:
df3 = pd.read_excel('riesgo-segmento.xlsx',
                       sheet_name='Factores Riesgo')
df3

In [ ]:
# merge clientes comuna
pd.merge(df1,df2, how='inner', on='COD_COMUNA')

In [ ]:
# merge clientes comuna método inner
pd.merge(df1,df2, how='inner', on='COD_COMUNA')

In [ ]:
# left merge
pd.merge(df1,df2, how='left', on='COD_COMUNA')

In [ ]:
# rigth merge
pd.merge(df1,df2, how='right', on='COD_COMUNA')

In [ ]:
# outer merge
pd.merge(df1,df2, how='outer', on='COD_COMUNA')

In [ ]:
pd.merge(df1,df3, how='left', on=['COD_SEGMENTO','COD_COMUNA'])